/*搜索页面*/
*{margin: 0px;padding:0px;text-decoration: none;list-style-type: none;}
html,body{background: url(../images/dxjbg.jpg) repeat;}
.header{
	height: 30px;
	width: 100%;
	background-color: #749263;
	font-size: 14px;
	line-height: 30px;
}
.header ul{
	float: right;
	margin-right: 20px;
	width: 280px;
}
.header li{
    width: auto;
    padding: 0px 10px;
    float: left;
    display: inline-block;
}
.header li a{
	color: #fff;
}
.logo{
	width: 170px;
	height: 60px;
	vertical-align: middle;
	margin-bottom: 15px;
	position: relative;
}
.change-place{
	position: absolute;
	top: 30px;
	margin-left: 170px;
	font-size: 14px;
	cursor: pointer;
	color: #999999;
}
.search{
	width: 537px;
	height: 40px;
	position: relative;
	left: 50%;
	margin-left: -300px;
}
.ser{
	width: 498px;
	height: 38px;
	border: none;
	display: inline-block;
	line-height: 38px;
	position: relative;
	text-indent: 5px;
	background-color: #fff;
	opacity: 0.9;
}
.ser-ico{
	width: 38px;
	height: 38px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	background-color: #fff;
	float: right;
	cursor: pointer;
	color: #70bfea;
	font-size: 27px;
}
.coupon{
	width: 500px;
	height: 200px;
	bottom: 0px;
	position: absolute;
	right: 0px;
	overflow: hidden;
	background-color: #53072b;
	opacity: 0.9;
	color: #fff;
}
.coupon h2 {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	text-indent: 20px;
}
.footer{
	height: 30px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	color: #555;
	line-height: 30px;
	background-color: #EFEFEF;
	width: 100%;
}
.privilege-list tr{
	height: 30px;
	line-height: 30px;
}
.privilege-list tr:hover{
	background-color: #749263;
	cursor: pointer;
	color: #fff;
}
.privilege-list td,.privilege-list th{
	height: 30px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	float: left;
	text-indent: 5px;
	text-align: center;
}
.w250{
	width: 200px;
}
.w100{
	width: 100px;
}
.w150{
	width: 200px;
}
.th{
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
}
.th li{
	height: 30px;
	display: inline-block;
	float: left;
	text-align: center;
}
.pref_content{
	width: 420px;
	height: 200px;
	background-color: #f9f9f9;
	position: absolute;
	z-index: 100px;
	bottom: 10px;
	right: 30px;
	overflow: hidden;
	display: none;
	padding-bottom: 40px;
}
.pref_content-title{
	height: 30px;
	background-color: #53072b;
	font-size: 18px;
	text-indent: 5px;
	color: #fff;
	line-height: 30px;
}
.pref_content-title span{
	float: right;
	margin-right: 10px;
	font-size: 24px;
}
.pref_content-title span:hover{
	color: red;
	cursor: pointer;
}
.pref_content p{
	line-height: 25px;
	font-size: 14px;
	text-indent: 28px;
	padding-left: 5px;
	overflow-x:hidden;
	overflow-y:scroll; 
	max-height: 210px;
	margin: 10px;
}

.sertext{
	width: 498px;
	max-height: 250px;
    line-height: 25px;
    text-indent: 5px;
    overflow: hidden;
    float: left;
    display: none;
    background-color: #fff;
}
.sertext li a{
	color: #000;
	display: block;
}
.sertext li:hover{
	background-color: #F2FA67;
}
.enter-shop-btn{
	height: 28px;
    line-height: 28px;
    display: inline-block;
    border: 1px solid #749263;
    color: #749263;
    font-size: 12px;
    width: 80px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.enter-shop-btn:hover{
	background-color: #749263;
	color: #e5e5e5;
}